<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Добро пожаловать!</title>
</head>

<body>
    <p><a class="head-button" href="/users">Список пользователей</a></p>
    <p><a class="head-button" href="/sections">Список секций</a></p>
</body>

</html>