<!DOCTYPE HTML>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <title>Секции</title>
</head>

<body>
    <h1>Секции</h1>
    <form id="sectionForm">
        <input type="text" name="name" placeholder="Название секции" required>
        <button type="submit">Создать секцию</button>
    </form>
    <ul id="sectionList"></ul>
    <h2>Добавить пользователя в секцию</h2>
    <form id="addToSectionForm">
        <select id="userSelect"></select>
        <select id="sectionSelect"></select>
        <button type="submit">Добавить</button>
    </form>
    <a href="file:///F:/it/tasks/user-section-app/views/index.html">На главную</a>
    <script src="/public/script.js"></script>
</body>

</html>