<!DOCTYPE HTML>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <title>Пользователи</title>
</head>

<body>
    <h1>Пользователи</h1>
    <form id="userForm">
        <input type="text" name="name" placeholder="Имя пользователя" required>
        <button type="submit">Создать пользователя</button>
    </form>
    <ul id="userList"></ul>
    <a href="file:///F:/it/tasks/user-section-app/views/index.html">На главную</a>
    <script src="/public/script.js"></script>
</body>

</html>