@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

/* Сброс стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Основные стили */
body {
    font-family: Montserrat;
    line-height: 1.6;
    background-color: #89bbb4;
    color: #333;
    padding: 20px;
}

/* Заголовки */
h1, h2, h3 {
    color: #151414;
    margin-bottom: 10px;
}

/* Стили для списков */
ul {
    list-style-type: none; /* Убираем маркеры */
    padding: 0;
}

li {
    background: #fff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Формы */
form {
    margin: 20px 0;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="submit"], select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Кнопки */
button {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

/* Ссылки */
a {
    color: #1909a8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Адаптивность */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    form {
        padding: 15px;
    }

    button {
        width: 100%;
    }
}

@media (min-width: 901px) {
    body {
        padding: 30px;
    }

    form {
        padding: 25px;
    }

    button {
        width: auto;
    }
}